::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: monospace;
  font-size: 12px;
  color: #cccccc;
  background-color: #262626;
  width: 400px;
  font-family: monospace;
}
